{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/about.css">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <main>
    <div class="line main"></div>
        <h1>Про проект</h1>
    <div class="line main"></div>
    <div class="section section-wraper">
        <p>Автор: Савченко Олександр, студент Жержавного Університету "Житомирська Політехніка", 2 курс.
        Проект створено для 11ї лабораторної роботи з курсу "Мова програмування Python", тема
        лабораторної роботи фреймворк Flask</p>
    </div>
    </main>
{% endblock %}