{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/history_styles.css">
{% endblock %}

{% block content %}
    <main>
        <div class="line main"></div>
        <h1>Історія виконавця</h1>
        <div class="line main"></div>
        <h1>Шкільні роки</h1>
        <div class="section-wraper">
            <div class="section">
                <div class="text">Писати тексти Андрій почав у дев'ятому класі.
                    Звідкись надійшло натхнення, і цю енергію треба було реалізовувати.
                    Виявилося потяг до творчості, і почалося твір. Причому, і вірші та
                    оповідання, для себе, просто до столу.
                    <img class="img-right" src="https://artchange.ru/_pu/6/56084132.jpg">
                    <div class="abzac">У десятому класі дізнався від друга, що таке реп, спробував свої можливості у цьому напрямі.
                        З'явилися і тексти, з якими він почав брати участь у текстових батлах.
                        Той самий друг мав невелику студію. Андрій спробував записати на ній
                        кілька треків на свої рими. Заняття сподобалося, і він вирішив його продовжити.
                        Музикою почав займатися у середині одинадцятого класу. Спеціальної освіти
                        у цьому напрямі він не має. Трохи опанував самоукою гітару, зрозумів,
                        що треба займатися співом. Чим далі він поринав у реп, тим більше зміцнювався
                        у вирішенні займатися лише творчістю, і більше нічим. Будь-яке навчання відійшло вбік.
                    </div>
                </div>
            </div>
        </div>
        <div class="line main"></div>
        <h1>Старт кар'єри</h1>
        <div class="section-wraper">
            <div class="section">
                <div class="text">Творчість артиста – мелодійна та глибока лірика.
                    Здобув загальну популярність завдяки участі в онлайн-баттлах,
                    найуспішнішим з яких був "Лівий Баттл" (Андрій дійшов до фіналу).
                    У 2014 році виступав на Slovo Краснодар проти Сімби.
                    <img class="img-left" src="https://artchange.ru/_pu/6/s04884704.jpg">
                    <div class="abzac next-line">Стартом у музичній кар'єрі молодого автора та виконавця став 2015 рік. Він випускає відразу три EP:
                        <div>1. першою з них стала робота під назвою «5», що побачила світ наприкінці березня місяця. До неї увійшло п'ять композицій;</div>
                        <div>2. Black Roze x Red Roze з восьми треків за участю Sted.d вийшов у середині липня;</div>
                        <div>3. Burn to Die, у п'яти піснях якого розкривається переживання і внутрішній світ молодого артиста;</div>
                    </div>
                    <div>Наступного, 2016 року, двадцять першого липня творча біографія Pyrokinesis
                        поповнюється більш об'ємною роботою з дев'яти композицій – альбомом «Eclipse».
                        Він якісно відрізняється від попередніх релізів. Слухачі оцінили старання
                        молодого репера і кількість фанатів у музиканта значно зросла. З'являються
                        перші масштабні концерти, його запрошують на запис фітів з іншими виконавцями.</div>
                </div>
            </div>
        </div>
        <div class="line main"></div>
        <h1>Андрій зараз</h1>
        <div class="section-wraper">
            <div class="section">
                <div class="text">
                    <img class="img-right big-img" src="https://phonoteka.org/uploads/posts/2021-07/1625781631_13-phonoteka-org-p-pirokinezis-art-krasivo-14.jpg">
                    Pyrokinesis – досить талановитий та працьовитий виконавець.
                    Його смислові звороти в текстах та якісне звучання музичної складової пісень
                    приваблює слухача. За свою недовгу кар'єру випустив кілька релізів і на
                    досягнутому не збирається зупинятися. До своїх шанувальників ставиться шанобливо,

                    вони, своєю чергою, вдячні Андрієві за його творчість. У майбутньому у виконавця
                    у планах випуск нових треків готується альбом. Всі шанувальники артиста чекають
                    із нетерпінням виходу свіжого матеріалу і репер у цьому ніяк не розчаровує їх.

                    <div class="abzac">Щодо особистого життя, то хлопець не одружений і дітей не має.
                        Але увагою з боку представниць жіночої статі він не обділений. Більш детальні
                        відомості для широкого загалу не доступні через закритість виконавця.
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}